* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://i.pinimg.com/736x/b1/78/bb/b178bb5e8080db1a2f46051f010a25a9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

ul {
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c8a2c8;
  border-bottom: 1px solid #908b8b;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 16px 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  position: relative;
  transition: color 0.2s ease;
}

li a:hover {
  color: white;
}

li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.2s ease;
}

li a:hover::after {
  width: 100%;
}

li a.active {
  color: white;
}

li a.active::after {
  width: 100%;
}
img[src$=".jpg"]:not(.divider) {
  background-color: #5a105a;
  border-radius: 25px;            
  box-shadow: 0 6px 15px rgba(0, 0, 0, 1);
  padding: 10px;
  margin: 20px;
}
h1 {
  font-family: 'Bubbleboddy', sans-serif;
}