* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(242, 222, 255);
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c8a2c8;
  border-bottom: 1px solid #908b8b;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 16px 20px;
  color: black;
  text-decoration: none;
  text-align: center;
  position: relative;
  transition: color 0.2s ease;
}

li a:hover {
  color: white;
}

li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.2s ease;
}

li a:hover::after {
  width: 100%;
}

li a.active {
  color: white;
}

li a.active::after {
  width: 100%;
}

#home h1 {
  font-size: 55px;
  font-family: 'Bubbleboddy', sans-serif;
}
#home p {
  margin-top:20px; 
 font-size:18px; 
  color:#5a5050;
}

